@model TermListingViewModel
<div class="card">
    <h3 class="card-header">Settings</h3>
    <div class="card-block">
        <form asp-action="Index" asp-controller="Term" method="GET">
            <div class="form-group">
                    <label asp-for="TermSetId" class="form-control-label"></label>
                    <select asp-for="TermSetId" class="form-control">
                        <option value="">Choose a Category</option>
                        @foreach(var item in Model.TermSets)
                        {
                            <option value="@item.Value" data-url="@Html.Raw(Url.Action("GetTerms", "Term", new { id = @item.Value}))">@item.Text</option>
                        }
                    </select>
            </div>
        </form>
    </div>
    <div id="terms">
    </div>
</div>

@Html.Partial("_Modal", new BootstrapModel { ID = "modal-term", AreaLabeledId = "modal-panel-label", Size = ModalSize.Medium })

@section Scripts {
    <script src="~/js/modal.js"></script>
    <script>
        $(function() {
            $("body").on("change", "#TermSetId", function(e){                
                fetchTerms($(this).find(":selected").attr("data-url"));
            });
            /*
            $("body").on("submit", "#add-edit-term-form", function(e){
                e.preventDefault();
                $.ajax({
                    url: e.currentTarget.action,
                    method: "post",
                    cache: false,
                    data: $(this).serialize()
                }).done(function(response){
                    closeModalAndReload(response);                    
                }).fail(function(error){})                
            });
            $("body").on("submit", "#delete-term-form", function(e){
                e.preventDefault();
                $.ajax({
                    url: e.currentTarget.action,
                    method: "post",
                    cache: false,
                    data: $(this).serialize()
                }).done(function(response){
                    closeModalAndReload(response);
                });
            });
            */
            Modal.init("modal-term")
        })
        function fetchTerms(url){
            $.ajax({
                    url: url,
                    method: "post",
                    cache: false
            }).done(function(response){
                    $("#terms").html(response);
            })
        }
        function closeModalAndReload(response) {
            if(response && response["successful"]){
                $(".modal").modal("hide");
                fetchTerms($("#TermSetId").find(":selected").attr("data-url"));
            }else{
                $(".modal").find(".modal-content").html(response);
            }
        }
    </script>
}