@model BookLocationStatisticsViewModel

<div class="row">
    <div class="col-md-6" style="height: 400px;">
        <div class="card">                           
            <div class="card-block">                
                <h2>Books <small>statistics</small></h2>
                <h5><span class="statistics-header">Pending Checkout Books:</span><span>@Model.PendingCheckoutBooks</span></h5>
                <h5><span class="statistics-header">Approved Checkout Books:</span><span>@Model.ApprovedCheckoutBooks</span></h5>
                <hr>
                <h5><span class="statistics-header">Pending Returned Books:</span><span>@Model.PendingReturnedBooks</span></h5>
                <h5><span class="statistics-header">Confirmed Returned Books:</span><span>@Model.ConfirmedReturnedBooks</span></h5>
            </div>
        </div>
    </div>
    <div class="col-md-6" style="height: 400px;">
        <div class="card">
            <div class="card-block">
                <div class="card-title">Defaulters</div>
                <div class="card-text"  style="overflow: scroll !important;">
                    
                    <table class="table table-striped">

                        <tbody>
                            @foreach(var item in Model.Defaulters)
                            {
                            <tr>
                                <td>@item.Patron.LastName</td>
                                <td>@item.Variant.Book.Title</td>
                                <td></td>
                                <td></td>
                            </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>



