@model BookTypeListingViewModel


<div class="card card-block">
    <div class="card-text">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="card-title float-left">Book Types</h2>
                <a asp-action="CreateBookType" class="float-right btn btn-primary">Add Type</a>
            </div>
        </div>
        <table class="table table-bordered">
    <thead>
        <tr>
            <th>Format</th>
            <th>ISBN</th>
            <th>Volume</th>
            <th>Edition</th>
            <th>Year</th>
            <th>Due Days</th>
            <th>Fine</th>
            <th>Collection Mode</th>
            <th>Copies</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.Variants)
        {
            <tr>
                <td><a asp-action="EditBookType" asp-route-id="@item.BookId" asp-route-typeid="@item.Id">@item.Format.Name</a></td>
                <td>@item.ISBN</td>
                <td>@item.Volume</td>
                <td>@item.Edition</td>
                <td>@item.Year.Name</td>
                <td>@item.DaysAllowed.Name</td>
                <td>@item.Fine.Name</td>
                <td>@item.CollectionMode.Name</td>   
                <td>@item.VariantLocations.Count()</td>
                <td>
                    @foreach(var price in @item.PricesLink)
                    {
                        
                        <div class="btn btn-sm btn-success">@($"{price.Price.Name} ({price.Condition.Name})")</div>
                    }
                </td>
                <td>
                    <!--<a asp-action="EditBookType" asp-route-id="@item.BookId" asp-route-typeid="@item.Id" class="btn btn-primary btn-sm">Edit</a>-->
                    <a asp-action="BookLocations" asp-route-typeid="@item.Id" class="btn btn-info btn-sm">Locations</a>
                    <a asp-action="BookPrices" asp-route-typeid="@item.Id" class="btn btn-info btn-sm">Prices</a>

                    
                </td>             
            </tr>
           @*
            <tr>
                <td colspan="8">
                    
                    <div class="row">
                        <div class="col-sm-12 col-md-2">
                            <a asp-action="EditBookType" asp-route-id="@item.BookId" asp-route-typeid="@item.Id" class="btn btn-primary btn-sm">Edit</a>
                        </div>
                        <div class="col-sm-12 col-md-10 text-right">
                            <a asp-action="BookLocations" asp-route-typeid="@item.Id" class="btn btn-primary btn-sm">Locations</a>                            
                        </div>
                    </div>
                </td>
            </tr>
            *@
        }
    </tbody>
</table>
    </div>
</div>