<!DOCTYPE html>
<html id="general">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] </title>
    <link rel="icon" href="@Url.Content("~/images/favicon.png")"/>
    @{ await Html.RenderPartialAsync("_CssLinks"); }
    @RenderSection("Styles", required: false)
</head>
<body>

    @RenderBody()
    @{ await Html.RenderPartialAsync("_Scripts"); }
    @RenderSection("Scripts", required: false)
</body>
</html>
