@model AuthorListingViewModel

@{

}
<div class="card">        
    <div class="card-header">
        <h3 class="float-left">Authors</h3>
        <a asp-action="Create" class="float-right btn btn-primary">Add Author</a>
    </div>
    <div class="card-block">
            <table class="table table-bordered">
                <thead>
                    <tr>                    
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Books</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model.Authors) {
                        <tr>                        
                            <td>@item.LastName @item.FirstName</td>
                            <td>@item.Email</td>
                            <td>@item.PhoneNumber</td>
                            <td>@item.Books.Count()</td>
                            <td>                        
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success btn-sm">edit</a>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary btn-sm">details</a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
    </div>
</div>




@*
    <div class="row">
    <div class="col-sm-12 col-md-6">
        <div class="card">
            <div class="card-header pb-0 pt-2">
                <h2 class="float-left">Authors</h2>
                <a asp-action="Create" class="float-right btn btn-primary">Add Author</a>
            </div>
            <div class="card-block pb-0">
                @foreach(var item in Model.Authors) {
                     <div>                       
                        <h5>@item.LastName @item.FirstName</h5>
                        <div>@item.Email</div>
                        <div>@item.PhoneNumber</div>
                        <div>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success btn-sm"><i class="material-icons small">edit</i></a>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary btn-sm"><i class="material-icons small">info</i></a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm"><i class="material-icons small">delete</i></a>
                        </div>
                        <hr>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
*@

@Html.Partial("_Modal", new BootstrapModel { ID = "modal-author", AreaLabeledId = "modal-author-label", Size = ModalSize.Medium })

@section scripts {
    <script src="~/js/author-index.js" asp-append-version="true"></script>
    <script src="~/js/modal.js" asp-append-version="true"></script>
    <script>
        $(function(){
             Modal.init("modal-author");             
        });        
    </script>        
}
