@model IList<BookViewModel>

@if(!Model.Any())
{
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">No Record</h4>
        <p class="mb-0">No book(s) was found. Kindly rephrase your search criteria</p>
    </div>
}
else
{
    <div class="card">
        <h4 class="card-header">Available Books</h4>
        <div class="card-block">
            <form asp-action="Borrow" asp-controller="Book" method="Post">
                <div class="table-responsive mb-2">
                    <table class="table table-bordered" id="books">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Book</th>                                
                                <th>Author(s)</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                        @for(var i = 0; i < Model.Count(); i++)
                        {
                            <tr>
                                <td>                        
                                    <div class="form-check" style="margin-top: -1rem">
                                        <label class="form-check-label">
                                            <input class="form-check-input book-item-check" type="checkbox" asp-for="@Model[i].Checked" onchange="showBorrowButton()"> 
                                            <input type="hidden" asp-for="@Model[i].VariantId">
                                            <input type="hidden" asp-for="@Model[i].Id">                                
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <h4 class="mb-0 pb-0">@Model[i].Title</h4>
                                    <div><strong>ISBN: </strong>@Model[i].ISBN</div>                                    
                                    <div><strong>Format: </strong>@Model[i].Format</div>
                                    <div class="form-group" style="display: none">                                        
                                        <strong>No of Days: </strong>
                                        <br>
                                        <select asp-for="@Model[i].RequestedDaysId" asp-items="@(new SelectList(Model[i].Days, "Id", "Name"))"></select>
                                        
                                    </div>
                                    <div style="position: relative; bottom: 0; text-align: right"><a asp-action="GetBookPreview" asp-controller="Book" asp-route-id="@Model[i].VariantId" data-toggle="modal" data-target="#previewBook">preview</a></div>
                                </td>
                                <td>@Model[i].Authors.First().LastName @Model[i].Authors.First().FirstName</td>                                
                                
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
                <button id="submitBooks" class="btn btn-primary" type="submit">Borrow All</button>
            </form>
        </div>
    </div>
}