@model MemberDashboardViewModel
<div class="card">
    <div class="card-block">
        <h3 class="mb-0">@Model.User.FullName</h3>
        <i><small>Joined on @Model.User.InsertedAt.ToString("MMMM dd, yyyy")</small></i>
    </div>
    <div class="card-block pt-0">
        <h5 class="card-title">Books Summary</h5>
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <table class="table table-bordered">                    
                    <thead>
                        <tr>
                            <th>Borrowed</th>
                            <th>Returned</th>
                            <th>Balance</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Model.TotalBooksBorrowed</td>
                            <td>@Model.TotalBooksReturned</td>
                            <td>@Model.BookBalance</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>        
    </div>
    @if(Model.ExpireSoonCheckouts.Count() > 0)
    {
        <div class="card-block pt-0">
            <h5 class="card-title">Expiring Soon</h5>
            <div class="card-text">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Book</th>
                            <th>ISBN</th>
                            <th>Serial No</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in Model.ExpireSoonCheckouts)
                        {
                            <tr>
                                <td>@item.Variant.Book.Title <small>@item.Variant.Format.Name</small></td>
                                <td>@item.Variant.ISBN</td>  
                                <td>@item.VariantCopy.SerialNo</td>                              
                                <td>
                                    <button class="btn btn-primary btn-sm">Initiate Return</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }

    @if(Model.ExpiredCheckouts.Count() > 0)
    {
        <div class="card-block pt-0">
            <h5 class="card-title">Due Checkouts</h5>
            <div class="card-text">
                <table class="table table-bordered">
                    <tbody>
                        @foreach(var item in Model.ExpiredCheckouts)
                        {
                            <tr>
                                <td>@item.CheckOut.Variant.Book.Title <small>@item.CheckOut.Variant.Format.Name</small></td>
                                <td>@item.CheckOut.Variant.ISBN</td>    
                                <td>@item.Days</td>                            
                                <td>@item.Charge</td>
                                <td>
                                    <button class="btn btn-info btn-sm">Initiate Return</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }

</div>
@if(Model.Announcements != null)
{
<div class="card">
    <h3 class="card-header">Announcements</h3>
    @foreach(var announcement in Model.Announcements)
    {
        <div class="card-block">
            <h4 class="card-title"><a asp-action="Details" asp-controller="Newsroom" asp-route-id="@announcement.Id">@announcement.Title</a></h4>
            <div class="card-text">@Html.Raw(@announcement.Introduction)</div>                
        </div>
    }
</div>
}

<div class="card">
    <h3 class="card-header">Current Post</h3>
    <div class="card-block">
        @foreach(var post in Model.Posts)
        {
            <div class="row mt-2">
                <div class="col-sm-3">
                    <div class="row">
                        <div class="col-sm-5">@post.Club.Name</div>
                        <div class="col-sm-7"><div style="border-left: 5px solid blue; padding-left: 10px">@post.Category.Name</div></div>
                    </div>
                </div>
                <div class="col-sm-9">
                    <a asp-action="Details" asp-controller="Post" asp-route-id="@post.Id">@post.Title</a>
                    <div>@post.InsertedAt.ToString("d MMM, yy hh:mm tt")</div>
                </div>
            </div>
        }
    </div>
</div>
