@model UserRegistrationListingViewModel
@if(Model.Registrations.Count > 0)
{
    <div class="card-block">
        <form asp-action="Registrations" asp-controller="Account">                
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th><input type="checkbox" class="check-all"></th>
                        <th>FullName</th>
                        <th>Email</th>
                        <th>Joined At</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for(var c = 0; c < Model.Registrations.Count; c++) {
                        <tr>
                            <td>
                                <input type="checkbox" asp-for="@Model.Registrations[c].Approved" class="check-approved">
                            </td>
                            <td>
                                <input type="hidden" asp-for="@Model.Registrations[c].UserId">
                                @Model.Registrations[c].FullName
                            </td>
                            <td>@Model.Registrations[c].Email</td>
                            <td>@Model.Registrations[c].InsertedAt.ToString("dd-MM-yyyy")</td>
                            <td></td>
                        </tr>
                    }
                </tbody>
            </table>
            <br>
            <button type="submit" class="btn btn-primary">Save Changes</button>
               
        </form>
    </div>
}
else
{
    <div class="alert alert-danger">
        No Registrations Currently
    </div>
}