@model CreateUserViewModel


<form asp-action="Create" asp-controller="Account" method="POST">
    <div class="card card-block">
        <h3 class="card-title">New Account</h3>

        <div class="card-text">
            <hr>
            <div class="row form-group">
                <label asp-for="LocationId" class="form-control-label col-sm-4 col-md-4"></label>
                <div class="col-sm-8 col-md-8">
                    <select asp-for="LocationId" asp-items="Model.Locations" class="form-control">
                        <option value="">Select Location</option>
                    </select>
                    <span asp-validation-for="LocationId" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-group">
                <label asp-for="LastName" class="form-control-label col-sm-4 col-md-4"></label>
                <div class="col-sm-8 col-md-8">
                    <input asp-for="LastName" type="text" class="form-control">
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-group">
                <label asp-for="FirstName" class="form-control-label col-sm-4 col-md-4"></label>
                <div class="col-sm-8 col-md-8">
                    <input asp-for="FirstName" type="text" class="form-control">
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-group">
                <label asp-for="PhoneNumber" class="form-control-label col-sm-4 col-md-4"></label>
                <div class="col-sm-8 col-md-8">
                    <input asp-for="PhoneNumber" type="text" class="form-control">
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-group">
                <label asp-for="Email" class="form-control-label col-sm-4 col-md-4"></label>
                <div class="col-sm-8 col-md-8">
                    <input asp-for="Email" type="text" class="form-control">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div class="row form-group">
                <label asp-for="Password" class="form-control-label col-sm-4 col-md-4"></label>
                <div class="col-sm-8 col-md-8">
                    <!--<small class="helper-text">Password must have at least one digit, one special character</small>-->
                    <input asp-for="Password" type="password" class="form-control">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>

            <div class="row form-group">
                <label asp-for="ChangePasswordFirstTimeLogin" class="form-control-label col-sm-4 col-md-4"></label>
                <div class="col-sm-8 col-md-8">
                    <select asp-for="ChangePasswordFirstTimeLogin" class="form-control">
                        <option value="true">Yes, Change Password</option>
                        <option value="false">No, Don't Change Password</option>
                    </select>
                </div>
            </div>
                
        
                <!--<div class="row form-group">
                        <label asp-for="UserClaims" class="form-control-label form-control-label col-sm-4 col-md-4"></label>
                        <div class="col-sm-8 col-md-8">
                            <div class="row">
                                @for(int i =0; i< Model.UserClaims.Count();i++)
                            {
                                <div class="col-lg-6">
                                    <input type="checkbox" asp-for="@Model.UserClaims[i].Selected" />
                                    <label asp-for="@Model.UserClaims[i].Selected">@Model.UserClaims[i].Text</label>
                                    <input type="hidden" asp-for="@Model.UserClaims[i].Value" />
                                    <input type="hidden" asp-for="@Model.UserClaims[i].Text" />
                                </div>
                            }
                            </div>
                        </div>
                </div>-->
                
            <div class="row form-group">
                <label asp-for="Role" class="form-control-label col-sm-4 col-md-4"></label>
                <div class="col-sm-8 col-md-8">
                    <select asp-for="Role" asp-items="Model.Roles" class="form-control">
                        <option value="">Select Roles</option>
                    </select>
                    <span asp-validation-for="Role" class="text-danger"></span>                            
                </div>
            </div>
                
                
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Create Account</button> 
            </div>
            
        </div>
    </div>
</form>


@section Styles {
    <link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.6/select2-bootstrap.min.css">
}
@section Scripts {
    <script src="~/js/common.js"></script>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function(event) {
            $(function() 
                { 
                    //$("#SelectedRoles").select2({ theme: "bootstrap" }); 
                }
            )
        })
    </script>        
}