@model BookEditionListingViewModel
@{
    int counter = 0;
}



<div class="card">
    <div class="card-block">
        <h3 class="float-left">@Model.Variant.Book.Title, @Model.Variant.Format.Name</h3>
        <a asp-action="CreateBookEdition" asp-route-id="@Model.Variant.Id" class="float-right btn btn-success">Add Edition</a>
    </div>
</div>

<div class="card card-block">
    <div class="card-text">
        <table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Edition</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.Editions)
        {
            <tr>
                <td>@(++counter)</td>
                <td>@item.Name</td>
                <td>
                    <a asp-action="DeleteBookEdition" asp-route-id="@item.Id" class="btn btn-danger btn-sm">delete</a>
                    <a asp-action="EditBookEdition" asp-route-id="@item.VariantId" asp-route-editionid="@item.Id" class="btn btn-success btn-sm">edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
    </div>
</div>