@model BookViewModel
<div class="card card-block">
    <div class="row">
        <div class="col-sm-12 col-md-3 px-0">
            <img src="@Url.Content(Model.Cover.Path)" width="150">
        </div>
        <div class="col-sm-12 col-md-9">
            <h2 class="mb-0">@Model.Title.ToUpper()</h2>
            <small>@string.Join(", ", Model.Authors.Select(a => $"{a.FirstName} {a.LastName}").ToList())</small>
            <div><label>Publisher: </label>@Model.Publisher.Name</div>
            <div><label>ISBN: </label>@Model.ISBN</div>            
        </div>
    </div>
</div>



